version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    command: python app.py
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - poller

  poller:
    build:
      context: .
      dockerfile: Dockerfile.poller
    command: python modbus_service.py
    env_file:
      - .env
    volumes:
      - .:/app

  bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    command: python telegram_bot.py
    env_file:
      - .env
    volumes:
      - .:/app
    # Uncomment to disable bot if you don't set TELEGRAM_BOT_TOKEN/CHAT_ID
    # deploy:
    #   replicas: 0
